@tailwind base;
@tailwind components;
@tailwind utilities;

/* KaTeX Dark Mode Fix */
html.dark .katex,
html.dark .katex *,
html.dark .katex-display,
html.dark .katex-display * {
  color: inherit !important;
}

html.dark .katex .frac-line {
  border-bottom-color: currentColor !important;
}

html.dark .katex .sqrt > .root {
  border-top-color: currentColor !important;
}
